@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --highlight: rgba(252, 14, 85, 1);
    --highlight-2: rgba(93, 53, 252, 1);
    --brand-200: rgba(61, 49, 41, 1);
    --brand-250: rgba(77, 66, 51, 1);
    --brand-300: rgba(99, 73, 54, 1);
    --brandprimary: rgba(121, 85, 61, 1);
    --brand-400: rgba(122, 99, 82, 1);
    --brand-500: rgba(140, 125, 115, 1);
    --brand-600: rgba(173, 150, 133, 1);
    --brand-700: rgba(198, 175, 159, 1);
    --brand-800: rgba(219, 201, 189, 1);
    --brand-900: rgba(240, 228, 219, 1);
    --brand-950: rgba(248, 241, 237, 1);
    --brand-980: rgba(252, 250, 248, 1);
    --green-900: rgba(226, 240, 219, 1);
    --green-950: rgba(240, 249, 236, 1);
    --green-300: rgba(63, 120, 35, 1);
    --teal-350: rgba(4, 174, 146, 1);
    --teal-980: rgba(247, 252, 252, 1);
    --teal-600: rgba(102, 204, 187, 1);
    --teal-500: rgba(77, 178, 161, 1);
    --teal-250: rgba(0, 128, 106, 1);
    --teal-95-0a: rgba(238, 246, 245, 1);
    --teal-900: rgba(217, 242, 238, 1);
    --teal-800: rgba(181, 227, 219, 1);
    --teal-99-0a: rgba(252, 253, 253, 1);
    --teal-700: rgba(140, 217, 204, 1);
    --teal-230: rgba(1, 115, 96, 1);
    --text-250: rgba(49, 41, 86, 1);
    --text-950: rgba(239, 238, 247, 1);
    --text-850: rgba(210, 207, 226, 1);
    --text-450: rgba(107, 103, 126, 1);
    --text-750: rgba(185, 182, 201, 1);
    --text-650: rgba(159, 156, 177, 1);
}



*{
    margin: 0;
    font-family: Outfit, sans-serif;
}
.final-design {
    background-color: #fcfaf7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.final-design .div {
    background-color: var(--brand-980);
    width: 100%;
    height: 1555px;
    position: relative;
}

.final-design .content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    position: absolute;
    top: 137px;
    left: 232px;
}

.final-design .hero-section {
    position: relative;
    width: 1456px;
    height: 467px;
}

.final-design .hero-box {
    position: absolute;
    width: 854px;
    height: 467px;
    top: 0;
    left: 0;
    border-radius: 15px 65px 15px 65px;
    overflow: hidden;
    border: 4px solid;
    border-color: var(--brand-900);
}

.final-design .got-an-old-wardrobe {
    position: absolute;
    top: 57px;
    left: 83px;
    font-weight: 800;
    color: var(--brandprimary);
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .every-day-so-many {
    position: absolute;
    top: 198px;
    left: 83px;
    font-weight: 500;
    color: var(--brand-500);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .frame {
    position: absolute;
    width: 294px;
    height: 45px;
    top: 350px;
    left: 83px;
    background-color: var(--teal-250);
    border-radius: 64px;
    overflow: hidden;
}

.final-design .text-wrapper {
    position: absolute;
    top: 9px;
    left: 45px;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .sign-up-to-wrapper {
    position: absolute;
    width: 198px;
    height: 45px;
    top: 350px;
    left: 396px;
    background-color: var(--teal-900);
    border-radius: 64px;
    overflow: hidden;
}

.final-design .sign-up-to {
    top: 8px;
    left: 47px;
    font-size: 20px;
    position: absolute;
    font-weight: 500;
    color: var(--teal-230);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .image {
    position: absolute;
    width: 555px;
    height: 464px;
    top: 3px;
    left: 901px;
    object-fit: cover;
}

.final-design .item-list {
    width: 1456px;
    height: 348px;
    background-color: var(--brand-900);
    border-radius: 65px 65px 15px 15px;
    position: relative;
    overflow: hidden;
}

.final-design .list {
    display: flex;
    width: 1349px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 95px;
    left: 53px;
}

.final-design .item {
    position: relative;
    width: 313px;
    height: 207px;
    background-color: var(--teal-250);
    border-radius: 10px;
    overflow: hidden;
}

.final-design .what-the-govt-is {
    position: absolute;
    width: 313px;
    height: 125px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.final-design .text-wrapper-2 {
    position: absolute;
    top: 139px;
    left: 22px;
    font-weight: 600;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .text-wrapper-3 {
    position: absolute;
    top: 166px;
    left: 22px;
    font-weight: 500;
    color: var(--green-900);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .text-wrapper-4 {
    position: absolute;
    top: 166px;
    left: 223px;
    font-weight: 500;
    color: var(--brand-900);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .item-secondary {
    width: 242px;
    height: 207px;
    background-color: var(--teal-900);
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--teal-250);
    position: relative;
    overflow: hidden;
}

.final-design .img {
    position: absolute;
    width: 242px;
    height: 125px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.final-design .unused-pot-planters {
    position: absolute;
    top: 138px;
    left: 22px;
    font-weight: 600;
    color: var(--teal-230);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .text-wrapper-5 {
    position: absolute;
    top: 165px;
    left: 22px;
    font-weight: 500;
    color: var(--green-300);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .p {
    position: absolute;
    top: 31px;
    left: 83px;
    font-weight: 600;
    color: var(--brandprimary);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .frame-2 {
    position: absolute;
    width: 425px;
    height: 35px;
    top: 35px;
    left: 977px;
}

.final-design .sort-items {
    position: absolute;
    width: 111px;
    height: 35px;
    top: 0;
    left: 64px;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--teal-350);
}

.final-design .sign-up-to-2 {
    top: 6px;
    left: 23px;
    font-size: 16px;
    position: absolute;
    font-weight: 500;
    color: var(--teal-230);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .div-wrapper {
    width: 127px;
    left: 189px;
    position: absolute;
    height: 35px;
    top: 0;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--teal-350);
}

.final-design .sign-up-to-3 {
    top: 6px;
    left: 25px;
    font-size: 16px;
    position: absolute;
    font-weight: 500;
    color: var(--teal-230);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .sort-items-2 {
    width: 95px;
    left: 330px;
    position: absolute;
    height: 35px;
    top: 0;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--teal-350);
}

.final-design .sign-up-to-4 {
    top: 6px;
    left: 21px;
    font-size: 16px;
    position: absolute;
    font-weight: 500;
    color: var(--teal-230);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .text-wrapper-6 {
    position: absolute;
    top: 7px;
    left: 0;
    font-weight: 500;
    color: var(--teal-230);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .item-list-2 {
    position: relative;
    width: 1456px;
    height: 298px;
    border-radius: 15px 15px 65px 65px;
    overflow: hidden;
    border: 4px solid;
    border-color: var(--brand-900);
}

.final-design .text-wrapper-7 {
    position: absolute;
    top: 33px;
    left: 83px;

    font-weight: 600;
    color: var(--brandprimary);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .frame-3 {
    display: flex;
    width: 1298px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 96px;
    left: 83px;
}

.final-design .frame-4 {
    position: relative;
    width: 451px;
    height: 132px;
}

.final-design .text-wrapper-8 {
    position: absolute;
    top: -1px;
    left: 0;
    font-weight: 700;
    color: var(--brandprimary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .you-can-stop {
    position: absolute;
    top: 31px;
    left: 0;
    font-weight: 500;
    color: var(--brandprimary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .frame-5 {
    position: relative;
    width: 381px;
    height: 132px;
}

.final-design .text-wrapper-9 {
    position: absolute;
    width: 398px;
    top: 31px;
    left: 0;
    font-weight: 500;
    color: var(--brandprimary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .frame-6 {
    position: relative;
    width: 372px;
    height: 132px;
}

.final-design .nav {
    position: absolute;
    width: 1920px;
    height: 80px;
    top: 0;
    left: 0;
    background-color: var(--brand-950);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color: var(--brand-900);
}

.final-design .nav-wrapper {
    position: relative;
    width: 1469px;
    height: 45px;
    top: 17px;
    left: 225px;
}

.final-design .freecycling-new {
    position: absolute;
    top: 7px;
    left: 0;
    font-weight: 400;
    color: var(--brandprimary);
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .span {
    font-weight: 700;
}

.final-design .text-wrapper-10 {
}

.final-design .frame-7 {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 10px;
    left: 962px;
}

.final-design .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: 500;
    color: var(--brandprimary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .button-tertiary {
    position: absolute;
    width: 171px;
    height: 45px;
    top: 0;
    left: 1298px;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--teal-350);
}

.final-design .sign-up-to-5 {
    top: 8px;
    left: 35px;
    font-size: 20px;
    position: absolute;
    font-weight: 500;
    color: var(--teal-230);
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .search {
    position: absolute;
    width: 506px;
    height: 51px;
    top: -2px;
    left: 372px;
    background-color: #fcfcfc;
    border-radius: 15px;
    overflow: hidden;
}

.final-design .text-wrapper-12 {
    position: absolute;
    top: 11px;
    left: 58px;
    font-weight: 400;
    color: var(--text-450);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .vector {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 18px;
    left: 22px;
}

.final-design .frame-8 {
    position: absolute;
    width: 107px;
    height: 37px;
    top: 7px;
    left: 392px;
    background-color: var(--teal-900);
    border-radius: 8px;
    overflow: hidden;
}

.final-design .text-wrapper-13 {
    position: absolute;
    top: 5px;
    left: 23px;
    font-weight: 500;
    color: var(--teal-230);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .footer {
    position: absolute;
    width: 1920px;
    height: 147px;
    top: 1408px;
    left: 0;
    background-color: var(--brand-950);
    border-top-width: 4px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-color: var(--brand-900);
}

.final-design .footer-wrapper {
    position: relative;
    width: 1469px;
    height: 96px;
    top: 25px;
    left: 225px;
}

.final-design .text-wrapper-14 {
    position: absolute;
    top: 11px;
    left: 0;
    font-weight: 700;
    color: var(--brandprimary);
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .frame-9 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    position: absolute;
    top: 9px;
    left: 1041px;
}

.final-design .text-wrapper-15 {
    position: relative;
    width: fit-content;
    font-weight: 500;
    color: var(--brandprimary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    position: absolute;
    top: 9px;
    left: 1277px;
}

.final-design .text-wrapper-16 {
    position: absolute;
    top: 66px;
    left: 141px;
    font-weight: 400;
    color: var(--teal-230);
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.final-design .text-wrapper-17 {
    position: absolute;
    top: 56px;
    left: 0;
    font-weight: 400;
    color: var(--brandprimary);
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}
