@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --brand-200: rgba(61, 49, 41, 1);
    --brand-250: rgba(77, 66, 51, 1);
    --brand-300: rgba(99, 73, 54, 1);
    --brandprimary: rgba(121, 85, 61, 1);
    --brand-400: rgba(122, 99, 82, 1);
    --brand-500: rgba(140, 125, 115, 1);
    --brand-600: rgba(173, 150, 133, 1);
    --brand-700: rgba(198, 175, 159, 1);
    --brand-800: rgba(219, 201, 189, 1);
    --brand-900: rgba(240, 228, 219, 1);
    --brand-950: rgba(248, 241, 237, 1);
    --brand-980: rgba(252, 250, 248, 1);
    --green-900: rgba(226, 240, 219, 1);
    --green-950: rgba(240, 249, 236, 1);
    --teal-350: rgba(4, 174, 146, 1);
    --teal-980: rgba(247, 252, 252, 1);
    --teal-600: rgba(102, 204, 187, 1);
    --teal-500: rgba(77, 178, 161, 1);
    --teal-250: rgba(0, 128, 106, 1);
    --teal-95-0a: rgba(238, 246, 245, 1);
    --teal-900: rgba(217, 242, 238, 1);
    --teal-800: rgba(181, 227, 219, 1);
    --teal-99-0a: rgba(252, 253, 253, 1);
    --teal-700: rgba(140, 217, 204, 1);
    --text-250: rgba(49, 41, 86, 1);
    --text-950: rgba(239, 238, 247, 1);
    --text-850: rgba(210, 207, 226, 1);
}

*{
    margin: 0;
}


.desktop {
    background-color: #fcfaf7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: var(--brand-980);
    width: 100%;
    height: 110vh;
    position: relative;
}

.desktop .hero-box {
    position: absolute;
    width: 854px;
    height: 467px;
    top: 126px;
    left: 232px;
    border-radius: 15px 65px 15px 65px;
    overflow: hidden;
    border: 4px solid;
    border-color: var(--brand-900);
}

.desktop .got-an-old-wardrobe {
    position: absolute;
    top: 57px;
    left: 83px;
    font-family: "Outfit", Helvetica;
    font-weight: 800;
    color: var(--brandprimary);
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .every-day-so-many {
    position: absolute;
    top: 198px;
    left: 83px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    color: var(--teal-250);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .frame {
    position: absolute;
    width: 294px;
    height: 45px;
    top: 350px;
    left: 83px;
    background-color: var(--brandprimary);
    border-radius: 64px;
    overflow: hidden;
}

.desktop .text-wrapper {
    position: absolute;
    top: 9px;
    left: 45px;
    font-family: "Outfit", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .sign-up-to-wrapper {
    position: absolute;
    width: 198px;
    height: 45px;
    top: 350px;
    left: 396px;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
    border-color: var(--brand-600);
}

.desktop .sign-up-to {
    position: absolute;
    top: 8px;
    left: 47px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    color: var(--brand-400);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .info-boxes {
    display: inline-flex;
    align-items: flex-start;
    gap: 53px;
    position: absolute;
    top: 630px;
    left: 232px;
}

.desktop .frame-2 {
    position: relative;
    width: 450px;
    height: 397px;
    background-color: var(--brand-950);
    border-radius: 65px 15px 65px 15px;
    overflow: hidden;
}

.desktop .text-wrapper-2 {
    position: absolute;
    top: 48px;
    left: 60px;
    font-family: "Outfit", Helvetica;
    font-weight: 700;
    color: var(--brandprimary);
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .p {
    position: absolute;
    width: 326px;
    top: 99px;
    left: 60px;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .div-wrapper {
    border-color: var(--brand-600);
    position: absolute;
    width: 139px;
    height: 39px;
    top: 312px;
    left: 60px;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
}

.desktop .text-wrapper-3 {
    position: absolute;
    top: 5px;
    left: 36px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    color: var(--brand-400);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .frame-3 {
    position: relative;
    width: 450px;
    height: 397px;
    background-color: var(--brand-900);
    border-radius: 65px 15px 65px 15px;
    overflow: hidden;
}

.desktop .what-is-freecycling {
    color: var(--brand-300);
    position: absolute;
    top: 48px;
    left: 60px;
    font-family: "Outfit", Helvetica;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .frame-4 {
    border-color: var(--brand-400);
    position: absolute;
    width: 139px;
    height: 39px;
    top: 312px;
    left: 60px;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
}

.desktop .text-wrapper-4 {
    color: var(--brand-300);
    position: absolute;
    top: 5px;
    left: 36px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .frame-5 {
    position: relative;
    width: 450px;
    height: 397px;
    background-color: var(--teal-95-0a);
    border-radius: 65px 15px 65px 15px;
    overflow: hidden;
}

.desktop .what-is-freecycling-2 {
    color: var(--teal-350);
    position: absolute;
    top: 48px;
    left: 60px;
    font-family: "Outfit", Helvetica;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .frame-6 {
    border-color: var(--teal-500);
    position: absolute;
    width: 139px;
    height: 39px;
    top: 312px;
    left: 60px;
    border-radius: 64px;
    overflow: hidden;
    border: 2px solid;
}

.desktop .text-wrapper-5 {
    color: var(--teal-250);
    position: absolute;
    top: 5px;
    left: 36px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .image {
    position: absolute;
    width: 555px;
    height: 464px;
    top: 129px;
    left: 1133px;
    object-fit: cover;
}

.desktop .nav {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: var(--brand-950);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-color: var(--brand-900);
}

.desktop .freecycling-new {
    position: absolute;
    top: 20px;
    left: 241px;
    font-family: "Outfit", Helvetica;
    font-weight: 400;
    color: var(--brandprimary);
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.desktop .span {
    font-weight: 700;
}

.desktop .text-wrapper-6 {
    font-family: "Outfit", Helvetica;
}

.desktop .frame-7 {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: absolute;
    top: 24px;
    left: 1481px;
}

.desktop .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Outfit", Helvetica;
    font-weight: 500;
    color: var(--brandprimary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}
